body {
    min-height: 100vh;
    background-color: #1F2937;
    color: #FFFFFF;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

.green  {
    color: #10B981;
}
p {
    color:#D5D4D8; 
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(47, 62, 83, 0.5);
}

.btn-generate {
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: #10B981;
    color: white;
    margin: 2rem 0;
    max-width: 200px;
}

.btn-password {
    padding: 0.5rem 2rem;
    border-radius: 6px;
    border: none;
    background-color: #273549;
    color: #55F991;
    flex: 0 1 auto; 
    }

.password-section {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.label-text {
    padding: 5px 12px;
    margin-right: 4px;
    background-color:darkgoldenrod;
    border: 1px solid #1F2937;
    border-radius: 8px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.label-text.length {
    background-color: cornflowerblue;
    margin-left: 1.5rem;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

.container {
    text-align: center;
}