body {
    background-color: #1F2937;
    color: #FFFFFF;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.green  {
    color: #10B981;
}
p {
    color:#D5D4D8; 
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(47, 62, 83, 0.5);
}

.btn-generate {
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: #10B981;
    color: white;
    margin: 2rem 0;
    max-width: 200px;
}

.btn-password {
    padding: 0.5rem 2rem;
    border-radius: 6px;
    border: none;
    background-color: #273549;
    color: #55F991;
    flex: 0 1 auto; 
    
    }

.password-section {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
}

